
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area.above {
  fill: #fcc;
}

.area.below {
  fill: #cfc;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.line.imports {
  stroke: #090;
}
.line.exports {
  stroke: #900;
}

