body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
	font-size: 13px;
}
.axes {
  color: #999;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #999;
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
  .line.imports {
    stroke: #c63;
  }
  .line.exports {
    stroke: #393;
  }

.lines .area {
  opacity: 0.2;
}
  .area.deficit {
    fill: #f63;
  }
  .area.surplus {
    fill: #6c3;
  }

.imports {
	color: #900;
}
.exports {
	color: #090;
}
